<% layout('layouts/boilerplate') -%>


<script defer>
    const MAPBOX_PUBLIC_TOKEN = "<%- process.env.MAPBOX_PUBLIC_TOKEN %>";
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %> };
</script>

<script defer src="/js/clusterMap.js"></script>

<%- include('../partials/flash') %>
<div id="map" style="width:100%; height: 500px;"></div>
<h1>Campgrounds</h1>

    <% for(let campground of campgrounds.slice(0, 20)) {%>
        <div class="card mb-5" >
            <div class="row">
                <div class="col-md-4">
                    <% if (campground.images.length === 0) { %>
                        <img class="img-fluid" loading=lazy src="https://images.unsplash.com/photo-1523987355523-c7b5b0dd90a7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
                    <% } else { %>  
                    <img class="img-fluid" src="<%= campground.images[Math.floor(Math.random() * campground.images.length)].url %>" alt="">
                    <% } %> 
                </div>
                <div class="col-md-8 mt-3">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= campground.location %></small>
                    </p>
                    <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>" role="button">View</a>
                </div>
            </div>                
        </div>
    <% } %>